<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>HTML Layout Template</title>
  <link rel="icon" type="image/x-icon" href="assets/icons/favicon.png">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <div class="container">
    <h1 class="something">
      Hello, HTML!
    </h1>

    <a href="https://www.flaticon.com/free-icons/open-source"
       title="open source icons">
      Favicon created by Pixel perfect - Flaticon
    </a>
  </div>

  <script src="js/vendors.js"></script>
  <script src="js/app.js"></script>
</body>

</html>
