# .gitattributes
#
# Defining attributes per path.
#
# For more informations see https://git-scm.com/docs/gitattributes

# Enabling EOL normalization for all files
* text=auto

# Windows files (need CRLF)
*.bat eol=crlf

# Unix files (need LF)
*.sh eol=lf
